{include file="public/header" /}
<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
<!--[if lt IE 9]>
<script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
<script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<div class="x-body">
    <form class="layui-form layui-form-pane">
        <div class="layui-form-item">
            <label for="name" class="layui-form-label">
                <span class="x-red">*</span>角色名
            </label>
            <div class="layui-input-inline">
                <input type="text" id="name" name="name" value="{$usergroup.name}" required="" lay-verify="required"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">
                拥有权限
            </label>
            <table class="layui-table layui-input-block">
                <tbody>
                {volist name='list' id='menu'}
                <tr>
                    <td>
                        {if in_array($menu.menuid,explode(',',$usergroup.group_menu))}
                        <input type="checkbox" name="menuid[]" lay-skin="primary" lay-filter="switchTest" title="{$menu.menu_name}" value="{$menu.menuid}" checked="checked">
                        {else /}
                        <input type="checkbox" name="menuid[]" lay-skin="primary" lay-filter="switchTest" title="{$menu.menu_name}" value="{$menu.menuid}">
                        {/if}
                    </td>
                    <td>
                        <div class="layui-input-block">
                            {volist name="menu['view']" id='vo'}
                            {if in_array($vo.menuid,explode(',',$usergroup.group_menu))}
                            <input name="menuid[]" lay-skin="primary" type="checkbox" title="{$vo.menu_name}" value="{$vo.menuid}" checked="checked">
                            {else /}
                            <input name="menuid[]" lay-skin="primary" type="checkbox" title="{$vo.menu_name}" value="{$vo.menuid}">
                            {/if}
                            {/volist}
                        </div>
                    </td>
                </tr>
                {/volist}
                </tbody>
            </table>
        </div>
        <div class="layui-form-item">
            <label for="sort" class="layui-form-label">
                <span class="x-red"></span>排序
            </label>
            <div class="layui-input-inline">
                <input type="text" id="sort" name="sort" value="{$usergroup.sort}" required="" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
                <span class="x-red"></span>状态
            </label>
            <div class="layui-input-inline" style="border: 1px solid #e6e6e6;padding-bottom: 1px;">
                {if $usergroup.status == 1}
                <input type="radio" name="status" lay-skin="primary" value="1" title="启用" checked="checked">
                <input type="radio" name="status" lay-skin="primary" value="0" title="禁用">
                {else /}
                <input type="radio" name="status" lay-skin="primary" value="1" title="启用">
                <input type="radio" name="status" lay-skin="primary" value="0" title="禁用" checked="checked">
                {/if}
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label for="remarks" class="layui-form-label">
                描述
            </label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" id="remarks" name="remarks" value="{$usergroup.remarks}" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <button class="layui-btn" lay-submit="" lay-filter="add">更新</button>
        </div>
    </form>
</div>
<script>
    layui.use(['form', 'layer'], function () {
        $ = layui.jquery;
        var form = layui.form
            , layer = layui.layer;

        form.on('checkbox(switchTest)', function (data) {
            $(this).parent().next().children('div').find('input').each(function () {
                this.checked = data.elem.checked;
            });
            form.render('checkbox');
        });

        //监听提交
        form.on('submit(add)', function (data) {
            var id = {$id};
            data.field.id = id;
            //发异步，把数据提交给php
            $.ajax({
                type:"POST",
                url:"{:url('usergroup/update')}",
                data:data.field,
                success:function(rs){
                    if(rs.status == 1){

                    }else{
                        layer.alert(rs.msg, {icon: 5});
                    }
                }
            });
            layer.alert("添加成功", {icon: 6}, function () {
                // 获得frame索引
                var index = parent.layer.getFrameIndex(window.name);
                //关闭当前frame
                parent.layer.close(index);
            });
            return false;
        });
    });

</script>
</body>

</html>