<div class="x-nav">
<span class="layui-breadcrumb">
       <a>
           <cite>首页</cite>
       </a>
          <a>
              <cite>
                  {php}
                  $menu_name= isset($_GET['menu_name'])?$_GET['menu_name']:"";
                   echo $menu_name;
                  {/php}
              </cite>
          </a>
    </span>
<a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
   href="javascript:location.replace(location.href);" title="刷新">
    <i class="layui-icon" style="line-height:30px">ဂ</i>
</a>
</div>