{include file="public/header" /}
<body class="login-bg">

<div class="login layui-anim layui-anim-up">
    <div class="message">急客救援-管理登录</div>
    <div id="darkbannerwrap"></div>
    <form method="post" class="layui-form">
        <input name="uname" placeholder="用户名" type="text" lay-verify="required" class="layui-input">
        <hr class="hr15">
        <input name="pw" lay-verify="required" placeholder="密码" type="password" class="layui-input">
        <hr class="hr15">
        <input value="登录" lay-submit lay-filter="login" style="width:100%;" type="submit">
        <hr class="hr20">
    </form>
</div>
</body>
</html>